.footer {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#power-statement {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    background-color: #4D6BC6;
}

#globe {
    font-size: 28px;
}

#statement {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

#repos {
    height: 60%;
    width: 100%;
    background-color: #2F466C;
    color: white;
    display: flex;
    justify-content: space-around;
}
