#homepage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#orange-banner {
    width: 100%;
    height: 150px;
    background-color: #F8EBE6;
}

#Welcome {
    position: absolute;
    padding-top: 30px;
    font-size: 34px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#white-space-div {
    height: 120px;
}

#product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 350px;
    width: 1328px;
    gap: 15px;
    margin-bottom: 140px;
}

.homepage-products {
    height: 167px;
    width: 251px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 13px;
}

#previewImage {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    min-width: 251px;
    min-height: 167px;
}

#product-price {
    height: 27px;
    width: 65px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
    bottom: 40px;
    left: 10px;
}
