.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 8px 4%;
    font-family: "Montserrat", sans-serif;
    height: 64px;
    max-width: 1400px;
}

li, a, button {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.login-signup {
    display: flex;
    flex-direction: row;
}

.user-auth-div {
    text-decoration: none;
    border-radius: 30px;
    min-height: 36px;
    min-width: 36px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    display: flex;
    transition: all 0.3s ease-in 0s;
}

.user-auth-div:hover {
    background-color: rgba(34, 34, 34, 0.075);
    cursor: pointer;
}

.logo-div {
    height: 100%;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-right {
    display: flex;
    min-width: 168px;
    justify-content: center;
}

.home-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.searchbar-container {
    width: 50%;
    position: relative;
}
