.Add-Review {
    border: none;
    height: 45px;
    width: 35%;
    color: white;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    cursor: pointer;
    border-radius: 25px;
    background-color: rgb(34, 34, 34);
    font-weight: bold;
    font-size: 15px;
}

.review-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 240px;
    width: 400px;
    border-radius: 20px;
    padding: 25px;
    font-family: sans-serif;
}

.review-form-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 35%;
    width: 100%;
    gap: 65px;
    margin-bottom: 15px;
}

.cancel-button {
    align-self: flex-start;
    cursor: pointer;
}

.review-errors-div {
    width: 98.5%;
    color: red;
    font-weight: bold;
    font-size: 14px;
}

.review-title {
    margin: 0;
}

.star-container * {
    float: right;
}

.star-container {
    align-self: flex-start;
}

.star-inputs {
    display: none;
}

.star-inputs:checked~label {
    color: rgb(34, 34, 34);
}

.star-label {
    font-size: 22px;
}

.review-div {
    display: flex;
    justify-content: center;
}

.review-textbox {
    border-radius: 10px;
    border-color: lightgray;
}

.Submit-Review {
    border: none;
    margin-top: 30px;
    height: 45px;
    width: 100%;
    border-radius: 25px;
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}
